# Demo login
NOTES_ADMIN_USERNAME=admin
NOTES_ADMIN_PASSWORD=notes123
NOTES_USER_USERNAME=medewerker
NOTES_USER_PASSWORD=notes123

# Mailjet
MAILJET_API_KEY=
MAILJET_API_SECRET=
MAILJET_FROM_EMAIL=
MAILJET_FROM_NAME=Notes

# MariaDB
MARIADB_HOST=127.0.0.1
MARIADB_PORT=3306
MARIADB_USER=root
MARIADB_PASSWORD=
MARIADB_DATABASE=notes
MARIADB_CONNECTION_LIMIT=5
